body {
    background-color: black;
    color: white;
    font-family: "Roboto", sans-serif;
}

.cell {
    width: 40px;
    height: 40px;
    text-align: center
}

.cell img {
    width: 25px;
    height: auto;
}

.floor {
    background-color: gray
}

.wall {
    background-color: brown
}

.title {
    text-align: center;
}

table {
    margin: auto;
    margin-top: 100px;
}

.balls-count {
    margin: auto;
    text-align: center;
    border: 1px solid white;
    width: 200px;
    height: 125px;
}

.restart {
    display: none;
    margin: auto;
}

.start {
    display: block;
    margin: auto;
    margin-bottom: 10px;
}

.win {
    position: absolute;
    top: 140px;
    left: 675px;
    width: 600px;
    height: 625px;
    background: brown;
    text-align: center;
    display: none;
}

.win h1 {
    margin-top: 150px;
    font-size: 100px;
    font-weight: bold;
}